In [36]:
import pandas as pd

In [37]:
file = "USAT_Data.csv"
usat = pd.read_csv(file)
usat.head()

,Rank,First_Name,Last_Name,Sex,Age,State,Time,Race,Race.1
0,1,Michael,Alexander,M,53,FL,01:02:29.000,87.912,Bartow Blarney Triathlon
1,2,Mark,Hulbert,M,54,FL,01:04:06.000,85.695,Bartow Blarney Triathlon
2,3,Brian,Durden,M,35,FL,01:05:30.000,83.863,Bartow Blarney Triathlon
3,4,Rodney,Carter,M,42,FL,01:05:54.000,83.354,Bartow Blarney Triathlon
4,5,James,Hooppaw,M,27,FL,01:06:10.000,83.018,Bartow Blarney Triathlon

In [38]:
bins = [0,10,20,30,40,50,60,70]
labels = [0-10, 10-20, 20-30, 30-40, 40-50, 5-60, 60-70]

In [39]:
usat = pd.cut(usat["Age"], bins, labels=labels).head()

ValueError: Categorical categories must be unique

In [40]:
usat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        367 non-null    int64
 1   First_Name  367 non-null    object
 2   Last_Name   367 non-null    object
 3   Sex         367 non-null    object
 4   Age         367 non-null    int64
 5   State       364 non-null    object
 6   Time        367 non-null    object
 7   Race        366 non-null    float64
 8   Race.1      367 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 25.9+ KB

In [41]:
file = "NSGAdatapn.csv"
nsga = pd.read_csv(file)
nsga.head()

      First      Last State          Time  gender    age  Rank
0      Dave  CAMPBELL    CA  01:09:09.000    Male  60-64     1
1   Derrill     STEPP    CA  01:10:31.000    Male  55-59     2
2      Ross    REMBAC    AZ  01:11:19.000    Male  50-54     3
3   Vanessa      COOK    NV  01:11:54.000  Female  50-54     4
4     Louis   SALAZAR    NM  01:12:30.000    Male  55-59     5

In [44]:
nsga = nsga.rename(columns = {"age": "Age", "gender": "Sex"})

In [45]:
nsga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   First   106 non-null    object
 1   Last    106 non-null    object
 2   State   106 non-null    object
 3   Time    106 non-null    object
 4   Sex     106 non-null    object
 5   Age     106 non-null    object
 6   Rank    106 non-null    int64
dtypes: int64(1), object(6)
memory usage: 5.9+ KB

In [46]:
merge_df = pd.merge(nsga, usat, on= "Age")