In [2]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
url = 'https://nsga-results.fusesport.com/drawindividual.asp?id=341961&seasonid=485'

In [5]:
tables = pd.read_html(url)
tables

[  Unnamed: 0            Name State             S            T1             B  \
 0        1st    REMBAC, Ross    AZ  00:06:29.000  00:04:58.000  00:35:22.000
 1        2nd  GALLARDO, Paul    NM  00:08:07.000  00:03:44.000  00:38:18.000
 2        3rd      KASSA, JOE    NM  00:09:39.000  00:04:28.000  00:38:55.000
 3        4th      HOBBS, Bob    KY  00:11:35.000  00:04:06.000  00:39:53.000
 4        5th    WYATT, James    TX  00:07:23.000  00:05:32.000  00:42:55.000
 5        6th   DEMERLY, Mike    IN  00:12:39.000  00:06:35.000  00:43:18.000
 6        7th   MASON, Andrew    NM  00:13:14.000  00:06:04.000  00:48:00.000
 7          0      LINK, Dave    TX             -             -             -

              T2             R          Time
 0  00:00:47.000  00:23:43.000  01:11:19.000
 1  00:01:09.000  00:20:24.000  01:11:42.000
 2  00:00:52.000  00:24:36.000  01:18:30.000
 3  00:00:46.000  00:24:30.000  01:20:50.000
 4  00:01:21.000  00:27:36.000  01:24:47.000
 5  00:00:55.000  00:28:54.000  01:32:21.000
 6  00:00:43.000  00:25:31.000  01:33:32.000
 7             -             -             -  ]

In [6]:
url2 = 'https://nsga-results.fusesport.com/competitions.asp?compID=341959&id=485'
browser.visit(url2)

In [7]:
html = browser.html
soup = bs(html, 'html.parser')

In [8]:
genders = []
ages = []
links = []

gender = "Male"
table_h = soup.find_all('table')
for table in table_h: 
    rows = table.find_all('tr')
    for row in rows:
        cells = row.find_all('td')
        age = cells[0].text
        link = cells[1].a['href']
        
        genders.append(gender)
        ages.append(age)
        links.append(link)
        
    gender = 'Female'

In [9]:
link_data = pd.DataFrame()
link_data['gender'] = genders
link_data['age'] = ages
link_data['link'] = ['https://nsga-results.fusesport.com/'+ link for link in links]

In [10]:
link_data.head()

  gender    age                                               link
0   Male  50-54  https://nsga-results.fusesport.com/drawindivid...
1   Male  55-59  https://nsga-results.fusesport.com/drawindivid...
2   Male  60-64  https://nsga-results.fusesport.com/drawindivid...
3   Male  65-69  https://nsga-results.fusesport.com/drawindivid...
4   Male  70-74  https://nsga-results.fusesport.com/drawindivid...

In [11]:
anchors = soup.find_all('a')
anchors

[<a href="/mlink.asp?id=1713&amp;menu=15206">Results</a>,
 <a class="back button" href="?id=485">Back</a>,
 <a href="drawindividual.asp?id=341961&amp;seasonid=485">Results</a>,
 <a href="drawindividual.asp?id=341962&amp;seasonid=485">Results</a>,
 <a href="drawindividual.asp?id=341963&amp;seasonid=485">Results</a>,
 <a href="drawindividual.asp?id=341964&amp;seasonid=485">Results</a>,
 <a href="drawindividual.asp?id=341965&amp;seasonid=485">Results</a>,
 <a href="drawindividual.asp?id=341966&amp;seasonid=485">Results</a>,
 <a href="drawindividual.asp?id=341967&amp;seasonid=485">Results</a>,
 <a href="drawindividual.asp?id=341968&amp;seasonid=485">Results</a>,
 <a href="drawindividual.asp?id=341973&amp;seasonid=485">Results</a>,
 <a href="drawindividual.asp?id=341974&amp;seasonid=485">Results</a>,
 <a href="drawindividual.asp?id=341975&amp;seasonid=485">Results</a>,
 <a href="drawindividual.asp?id=341976&amp;seasonid=485">Results</a>,
 <a href="drawindividual.asp?id=341977&amp;seasonid=485">Results</a>,
 <a href="drawindividual.asp?id=341978&amp;seasonid=485">Results</a>,
 <a href="drawindividual.asp?id=341979&amp;seasonid=485">Results</a>,
 <a href="http://nsga.com" target="_blank"><img alt="NSGA Initials" src="/_uploads/img/10_511523l.JPG" style=""/></a>,
 <a class="poweredBy" href="http://www.fusesport.com">
 <img alt="powered by fusesport" src="/poweredBy/fusesport/white.png"/>
 </a>]

In [12]:
anchors[0]['href']

'/mlink.asp?id=1713&menu=15206'

In [13]:
link_list = []
for anchor in anchors: 
    links = anchor['href']
    link_list.append(links)

print(link_list)

['/mlink.asp?id=1713&menu=15206', '?id=485', 'drawindividual.asp?id=341961&seasonid=485', 'drawindividual.asp?id=341962&seasonid=485', 'drawindividual.asp?id=341963&seasonid=485', 'drawindividual.asp?id=341964&seasonid=485', 'drawindividual.asp?id=341965&seasonid=485', 'drawindividual.asp?id=341966&seasonid=485', 'drawindividual.asp?id=341967&seasonid=485', 'drawindividual.asp?id=341968&seasonid=485', 'drawindividual.asp?id=341973&seasonid=485', 'drawindividual.asp?id=341974&seasonid=485', 'drawindividual.asp?id=341975&seasonid=485', 'drawindividual.asp?id=341976&seasonid=485', 'drawindividual.asp?id=341977&seasonid=485', 'drawindividual.asp?id=341978&seasonid=485', 'drawindividual.asp?id=341979&seasonid=485', 'http://nsga.com', 'http://www.fusesport.com']

In [14]:
link_list[2]

'drawindividual.asp?id=341961&seasonid=485'

In [15]:
data_url_list = ['https://nsga-results.fusesport.com/'+ link for link in link_list]

In [16]:
data_url_list

['https://nsga-results.fusesport.com//mlink.asp?id=1713&menu=15206',
 'https://nsga-results.fusesport.com/?id=485',
 'https://nsga-results.fusesport.com/drawindividual.asp?id=341961&seasonid=485',
 'https://nsga-results.fusesport.com/drawindividual.asp?id=341962&seasonid=485',
 'https://nsga-results.fusesport.com/drawindividual.asp?id=341963&seasonid=485',
 'https://nsga-results.fusesport.com/drawindividual.asp?id=341964&seasonid=485',
 'https://nsga-results.fusesport.com/drawindividual.asp?id=341965&seasonid=485',
 'https://nsga-results.fusesport.com/drawindividual.asp?id=341966&seasonid=485',
 'https://nsga-results.fusesport.com/drawindividual.asp?id=341967&seasonid=485',
 'https://nsga-results.fusesport.com/drawindividual.asp?id=341968&seasonid=485',
 'https://nsga-results.fusesport.com/drawindividual.asp?id=341973&seasonid=485',
 'https://nsga-results.fusesport.com/drawindividual.asp?id=341974&seasonid=485',
 'https://nsga-results.fusesport.com/drawindividual.asp?id=341975&seasonid=485',
 'https://nsga-results.fusesport.com/drawindividual.asp?id=341976&seasonid=485',
 'https://nsga-results.fusesport.com/drawindividual.asp?id=341977&seasonid=485',
 'https://nsga-results.fusesport.com/drawindividual.asp?id=341978&seasonid=485',
 'https://nsga-results.fusesport.com/drawindividual.asp?id=341979&seasonid=485',
 'https://nsga-results.fusesport.com/http://nsga.com',
 'https://nsga-results.fusesport.com/http://www.fusesport.com']

In [17]:
tables = []
for url in data_url_list: 
    try:
        table = pd.read_html(url)
        tables.append(table[0])
    except Exception as e: 
        print(e)

No tables found
No tables found
No tables found
No tables found

In [18]:
tables

[  Unnamed: 0            Name State             S            T1             B  \
 0        1st    REMBAC, Ross    AZ  00:06:29.000  00:04:58.000  00:35:22.000
 1        2nd  GALLARDO, Paul    NM  00:08:07.000  00:03:44.000  00:38:18.000
 2        3rd      KASSA, JOE    NM  00:09:39.000  00:04:28.000  00:38:55.000
 3        4th      HOBBS, Bob    KY  00:11:35.000  00:04:06.000  00:39:53.000
 4        5th    WYATT, James    TX  00:07:23.000  00:05:32.000  00:42:55.000
 5        6th   DEMERLY, Mike    IN  00:12:39.000  00:06:35.000  00:43:18.000
 6        7th   MASON, Andrew    NM  00:13:14.000  00:06:04.000  00:48:00.000
 7          0      LINK, Dave    TX             -             -             -

              T2             R          Time
 0  00:00:47.000  00:23:43.000  01:11:19.000
 1  00:01:09.000  00:20:24.000  01:11:42.000
 2  00:00:52.000  00:24:36.000  01:18:30.000
 3  00:00:46.000  00:24:30.000  01:20:50.000
 4  00:01:21.000  00:27:36.000  01:24:47.000
 5  00:00:55.000  00:28:54.000  01:32:21.000
 6  00:00:43.000  00:25:31.000  01:33:32.000
 7             -             -             -  ,
    Unnamed: 0                 Name State             S            T1  \
 0         1st       STEPP, Derrill    CA  00:07:56.000  00:03:41.000
 1         2nd           BOGGS, Jon    WV  00:07:51.000  00:04:29.000
 2         3rd       SALAZAR, Louis    NM  00:08:38.000  00:03:42.000
 3         4th          WINTER, Ken    SD  00:08:27.000  00:03:49.000
 4         5th          SENN, Roger    NM  00:06:44.000  00:04:03.000
 5         6th      ROBERSON, Kevin    NM  00:09:10.000  00:04:04.000
 6         7th         GLEASON, Bob    TX  00:08:47.000  00:04:41.000
 7         8th      VEEDER, Michael    NY  00:08:50.000  00:04:03.000
 8         9th       GARRETT, David    NM  00:09:11.000  00:04:10.000
 9        10th        FONS, Randall    CO  00:07:34.000  00:05:46.000
 10       11th     NAVARRO, Eduardo    AZ  00:09:59.000  00:04:49.000
 11       12th         WILD, Warren    NM  00:08:44.000  00:05:26.000
 12       13th          PEGUES, Lex    TX  00:06:54.000  00:05:38.000
 13       14th        SHALER, David    LA  00:12:07.000  00:05:59.000
 14       15th         SEATON, Dale    NY  00:09:08.000  00:05:31.000
 15       16th       SEIDMAN, Larry    CO  00:08:51.000  00:04:13.000
 16       17th  DE LA GARZA, Albert    NM  00:09:14.000  00:05:51.000
 17       18th    GAPULTOS, Mamerto    NV  00:10:11.000  00:05:56.000
 18       19th     COGGINS, William    FL  00:11:34.000  00:07:41.000
 19       20th       HARVEY, Mickey    KS  00:09:59.000  00:05:08.000
 20       21st        LEONARD, Arne    NM  00:11:31.000  00:08:06.000
 21       22nd          MILLER, Wes    OK  00:10:33.000  00:05:27.000
 22       23rd   TOLEDO JR, Michael    NM  00:12:55.000  00:08:57.000
 23       24th      BOREK, Theodore    NM  00:09:23.000  00:06:23.000
 24       25th         KLIMEK, Gail    NE  00:11:43.000  00:07:37.000
 25       26th         ROE, Timothy    FL  00:11:29.000  00:06:24.000
 26       27th        KASENOW, Paul    IN  00:11:58.000  00:08:54.000
 27       28th       LAYMAN, Andrew    NM  00:12:08.000  00:07:39.000
 28       29th   WHITTENBERG, Kevin    NM  00:14:30.000  00:07:39.000
 29       30th     WILKINSON, Glenn    FL  00:14:15.000  00:08:39.000
 30       31st      GARRITY, Harold    NM  00:05:06.000  00:08:52.000
 31       32nd          MARCO, Alan    OH  00:16:01.000  00:08:44.000
 32          0      ASHLEY, Matthew    MO             -             -
 33          0         BRADLEY, Tim    NY             -             -
 34          0       PETERSON, Earl    AK             -             -
 35          0         SCHWAB, Mark    FL             -             -
 36          0       STINSON, David    MD             -             -

                B            T2             R          Time
 0   00:34:49.000  00:01:25.000  00:22:40.000  01:10:31.000
 1   00:35:43.000  00:00:57.000  00:23:21.000  01:12:21.000
 2   00:35:49.000  00:00:50.000  00:23:31.000  01:12:30.000
 3   00:35:58.000  00:00:54.000  00:24:28.000  01:13:36.000
 4   00:37:58.000  00:01:07.000  00:25:22.000  01:15:14.000
 5   00:36:48.000  00:01:10.000  00:24:28.000  01:15:40.000
 6   00:37:30.000  00:01:04.000  00:23:48.000  01:15:50.000
 7   00:40:20.000  00:00:55.000  00:22:13.000  01:16:21.000
 8   00:38:49.000  00:00:52.000  00:23:52.000  01:16:54.000
 9   00:39:25.000  00:01:46.000  00:24:29.000  01:19:00.000
 10  00:38:05.000  00:01:26.000  00:24:54.000  01:19:13.000
 11  00:39:18.000  00:01:21.000  00:27:44.000  01:22:33.000
 12  00:41:42.000  00:01:18.000  00:28:12.000  01:23:44.000
 13  00:42:41.000  00:01:28.000  00:23:46.000  01:26:01.000
 14  00:39:26.000  00:01:02.000  00:31:43.000  01:26:50.000
 15  00:48:01.000  00:01:02.000  00:25:58.000  01:28:05.000
 16  00:45:18.000  00:01:01.000  00:27:08.000  01:28:32.000
 17  00:43:03.000  00:01:01.000  00:28:39.000  01:28:50.000
 18  00:41:14.000  00:01:00.000  00:27:44.000  01:29:13.000
 19  00:43:54.000  00:01:06.000  00:29:55.000  01:30:02.000
 20  00:44:47.000  00:01:53.000  00:28:53.000  01:35:10.000
 21  00:48:38.000  00:01:07.000  00:29:41.000  01:35:26.000
 22  00:47:52.000  00:00:50.000  00:28:56.000  01:39:30.000
 23  00:49:35.000  00:01:26.000  00:33:10.000  01:39:57.000
 24  00:43:18.000  00:02:05.000  00:35:15.000  01:39:58.000
 25  00:56:06.000  00:01:57.000  00:30:59.000  01:46:55.000
 26  00:50:04.000  00:01:39.000  00:35:56.000  01:48:31.000
 27  00:57:22.000  00:01:50.000  00:31:08.000  01:50:07.000
 28  00:48:36.000  00:03:05.000  00:36:36.000  01:50:26.000
 29  00:53:15.000  00:02:56.000  00:43:13.000  02:02:18.000
 30  00:47:22.000  00:01:37.000  01:04:16.000  02:07:13.000
 31  01:18:45.000  00:01:15.000  00:34:25.000  02:19:10.000
 32             -             -             -             -
 33             -             -             -             -
 34             -             -             -             -
 35             -             -             -             -
 36             -             -             -             -  ,
    Unnamed: 0               Name State             S            T1  \
 0         1st     CAMPBELL, Dave    CA  00:07:36.000  00:04:35.000
 1         2nd     WITHOFF, David    AK  00:08:10.000  00:05:10.000
 2         3rd          BEAR, Jan    NM  00:09:35.000  00:05:02.000
 3         4th   BROOKS, Jonathan    OH  00:08:21.000  00:05:25.000
 4         5th      KOONCE, Denny    MO  00:07:34.000  00:04:51.000
 5         6th  DILLINGHAM, David    OK  00:11:00.000  00:04:46.000
 6         7th   HEITZMAN, CORNEL    NM  00:09:26.000  00:05:07.000
 7         8th     LUNEY, Jeffrey    CA  00:07:08.000  00:05:00.000
 8         9th     NELSON, Dennis    NV  00:10:08.000  00:05:51.000
 9        10th     BOLDUC, Robert    FL  00:11:13.000  00:06:13.000
 10       11th        POLK, Ricks    IA  00:09:14.000  00:06:17.000
 11       12th       BENSON, Mike    NM  00:08:25.000  00:07:19.000
 12       13th     TURCO, Douglas    NM  00:10:13.000  00:06:02.000
 13       14th      SCHUDE, Jerry    MI  00:08:36.000  00:06:23.000
 14       15th   SHERVANICK, Mark    NM  00:09:54.000  00:07:41.000
 15       16th   SOLOMON, Charles    TX  00:12:15.000  00:06:12.000
 16       17th         SMITH, Roy    OH  00:10:55.000  00:06:36.000
 17       18th        MALEK, Paul    WI  00:10:55.000  00:07:50.000
 18       19th    JOHNSON, Robert    TX  00:14:07.000  00:09:05.000
 19       20th    STEBLETON, matt    NM  00:09:43.000  00:07:24.000
 20       21st      THOMAS, Steve    OK  00:13:19.000  00:08:38.000
 21       22nd       GORMAN, John    SD  00:15:00.000  00:09:18.000
 22       23rd     CARMAN, Arthur    OK  00:12:45.000  00:09:02.000
 23       24th       ALLEN, James    FL  00:34:24.000  00:07:12.000

                B            T2             R          Time
 0   00:36:24.000  00:00:45.000  00:19:49.000  01:09:09.000
 1   00:37:49.000  00:00:54.000  00:23:38.000  01:15:41.000
 2   00:36:29.000  00:01:03.000  00:25:10.000  01:17:19.000
 3   00:39:33.000  00:01:37.000  00:24:53.000  01:19:49.000
 4   00:40:30.000  00:01:15.000  00:26:21.000  01:20:31.000
 5   00:39:58.000  00:01:09.000  00:24:11.000  01:21:04.000
 6   00:41:13.000  00:00:55.500  00:24:40.000  01:21:21.500
 7   00:42:08.000  00:01:42.000  00:26:30.000  01:22:28.000
 8   00:36:15.000  00:01:19.000  00:29:18.000  01:22:51.000
 9   00:42:38.000  00:01:31.000  00:24:23.000  01:25:58.000
 10  00:41:36.000  00:01:09.000  00:28:42.000  01:26:58.000
 11  00:42:38.000  00:02:03.000  00:26:37.000  01:27:02.000
 12  00:43:23.000  00:01:39.000  00:27:00.000  01:28:17.000
 13  00:44:40.000  00:01:27.000  00:31:05.000  01:32:11.000
 14  00:40:22.000  00:01:26.000  00:33:04.000  01:32:27.000
 15  00:44:33.000  00:01:39.000  00:29:04.000  01:33:43.000
 16  00:41:05.000  00:01:28.000  00:34:20.000  01:34:24.000
 17  00:43:17.000  00:02:15.000  00:35:17.000  01:39:34.000
 18  00:51:48.000  00:01:04.000  00:34:24.000  01:50:28.000
 19  01:00:28.000  00:01:11.000  00:34:42.000  01:53:28.000
 20  00:53:23.000  00:03:44.000  00:36:06.000  01:55:10.000
 21  00:50:04.000  00:02:47.000  00:39:13.000  01:56:22.000
 22  00:54:04.000  00:02:34.000  00:43:05.000  02:01:30.000
 23  00:49:17.000  00:03:49.000  00:41:05.000  02:15:47.000  ,
    Unnamed: 0               Name State             S            T1  \
 0         1st      CHOKEL, Chuck    NH  00:07:36.000  00:04:53.000
 1         2nd   CASSITY, William    NV  00:11:10.000  00:05:35.000
 2         3rd    MAUSER, Michael    NV  00:11:04.000  00:08:08.000
 3         4th       KUNKEL, Gary    TX  00:13:11.000  00:06:52.000
 4         5th      ROUSSE, Roger    MI  00:12:08.000  00:06:36.000
 5         6th        PIATT, Bill    TX  00:09:36.000  00:05:50.000
 6         7th    CLIFTON, Woodie    VT  00:11:21.000  00:08:13.000
 7         8th  CASTILLO, Stephen    NM  00:14:18.000  00:07:46.000
 8         9th    SCUDAMORE, Marc    NM  00:16:49.000  00:08:32.000
 9        10th  ROSENBERG, Robert    AL  00:11:15.000  00:10:10.000
 10       11th        WHITE, John    WI  00:12:43.000  00:10:11.000
 11          0       COLE, Norman    TN             -             -
 12        NaN       MIKA, DARRYL    OH  00:03:44.000             -

                B            T2             R          Time
 0   00:38:38.000  00:00:56.000  00:23:15.000  01:15:18.000
 1   00:36:50.000  00:01:32.000  00:30:25.000  01:25:32.000
 2   00:43:53.000  00:01:56.000  00:28:39.000  01:33:40.000
 3   00:45:59.000  00:02:26.000  00:28:14.000  01:36:42.000
 4   00:47:05.000  00:01:24.000  00:30:44.000  01:37:57.000
 5   00:52:13.000  00:00:46.000  00:32:47.000  01:41:12.000
 6   00:45:04.000  00:01:34.000  00:37:01.000  01:43:13.000
 7   00:57:26.000  00:01:21.000  00:32:28.000  01:53:19.000
 8   00:55:39.000  00:03:02.000  00:41:08.000  02:05:10.000
 9   00:56:17.000  00:05:26.000  00:42:45.000  02:05:53.000
 10  01:08:24.000  00:03:35.000  00:55:19.000  02:30:12.000
 11             -             -             -             -
 12             -             -             -           DNF  ,
    Unnamed: 0             Name State             S            T1  \
 0         1st  HABECKER, TERRY    NY  00:08:01.000  00:05:16.000
 1         2nd  FOUCAR, Elliott    NM  00:08:49.000  00:05:37.000
 2         3rd    NOONAN, James    WA  00:11:21.000  00:07:03.000
 3         4th    SNOW, Richard    AL  00:10:11.000  00:05:50.000
 4         5th     BRANDT, Paul    NV  00:09:36.000  00:06:48.000
 5         6th      KULL, Lloyd    CO  00:09:12.000  00:07:54.000
 6         7th   DODGE, RICHARD    TX  00:15:07.000  00:07:13.000
 7         8th   BETNUN, Nathan    MD  00:17:12.000  00:12:26.000
 8         9th    COLLISON, Leo    IL  00:12:38.000  00:07:44.000
 9        10th   STACH, Richard    NM  00:10:18.000  00:09:38.000
 10       11th    MOYER, JOSEPH    OH  00:14:14.000  00:08:57.000
 11       12th     OTTO, Thomas    NJ  00:16:46.000  00:19:35.000
 12        NaN   SHIELY, Albert    NH  00:16:03.000  00:09:14.000

                B            T2             R          Time
 0   00:38:28.000  00:01:13.000  00:25:59.000  01:18:57.000
 1   00:44:17.000  00:01:17.000  00:25:34.000  01:25:34.000
 2   00:41:43.000  00:01:18.000  00:31:55.000  01:33:20.000
 3   00:45:37.000  00:00:31.000  00:31:34.000  01:33:43.000
 4   00:44:27.000  00:01:51.000  00:31:34.000  01:34:16.000
 5   00:48:44.000  00:01:25.000  00:29:23.000  01:36:38.000
 6   00:47:47.000  00:02:34.000  00:34:28.000  01:47:09.000
 7   00:52:19.000  00:04:02.000  00:34:36.000  02:00:35.000
 8   00:57:47.000  00:01:35.000  00:46:56.000  02:06:40.000
 9   01:05:11.000  00:04:09.000  00:44:39.000  02:13:55.000
 10  01:02:58.000  00:02:49.000  00:50:23.000  02:19:21.000
 11  01:07:33.000  00:04:59.000  01:16:13.000  03:05:06.000
 12  01:08:46.000             -             -           DNF  ,
    Unnamed: 0               Name State             S            T1  \
 0         1st        BLAIR, KENT    NM  00:10:05.000  00:05:35.000
 1         2nd      KOOPS, Robert    NM  00:10:17.000  00:09:00.000
 2         3rd   WHITEMAN, Joseph    NM  00:11:25.000  00:08:33.000
 3         4th        GENDA, Neal    CA  00:11:07.000  00:08:11.000
 4         5th      NELSON, Larry    TN  00:12:31.000             -
 5         6th  MARTINEC, Bohumil    TX  00:17:30.000  00:08:13.000
 6         7th        TILLER, Tom    OH  00:21:35.000  00:11:28.000
 7         8th       RASSI, James    AZ  00:18:58.000  00:14:13.000
 8           0   BALTHROP, Edward    AL             -             -
 9           0       BICH, Howard    SD             -             -
 10          0   GULASKEY, Joseph    OR             -             -
 11          0    LOHMANN, ROBERT    CT             -             -
 12          0  VON HELLENS, ROLF    AL             -             -
 13        NaN         BLACK, Vic    TX             -  00:19:06.000

                B            T2             R          Time
 0   00:43:12.000  00:01:07.000  00:23:49.000  01:23:48.000
 1   00:44:42.000  00:01:54.000  00:28:36.000  01:34:29.000
 2   00:50:27.000  00:01:15.000  00:39:06.000  01:50:46.000
 3   00:50:39.000  00:03:09.000  00:38:57.000  01:52:03.000
 4              -  01:41:43.000             -  01:54:14.000
 5   01:13:46.000  00:01:54.000  00:49:07.000  02:30:30.000
 6   01:08:05.000  00:00:46.000  00:52:29.000  02:34:23.000
 7   01:06:16.000  00:07:02.000  00:49:29.000  02:35:58.000
 8              -             -             -             -
 9              -             -             -             -
 10             -             -             -             -
 11             -             -             -             -
 12             -             -             -             -
 13  00:57:34.000             -             -           DNF  ,
   Unnamed: 0              Name State             S            T1  \
 0        1st     STAM, Richard    NM  00:13:30.000  00:12:10.000
 1        2nd  LARSON, Sterling    UT  00:13:45.000  00:12:53.000

               B            T2             R          Time
 0  00:58:43.000  00:04:45.000  00:39:21.000  02:08:29.000
 1  00:56:17.000  00:01:12.000  00:48:32.000  02:12:39.000  ,
   Unnamed: 0                 Name State             S            T1  \
 0        1st  SCHILLINGER, ERNEST    VA  00:16:47.000  00:12:44.000
 1        NaN       THOMPSON, Brad    TX  00:20:33.000  00:12:16.000

               B            T2             R          Time
 0  01:16:06.000  00:03:22.000  00:52:57.000  02:41:56.000
 1             -             -             -           DNF  ,
    Unnamed: 0                        Name State             S            T1  \
 0         1st               COOK, Vanessa    NV  00:08:03.000  00:04:15.000
 1         2nd             SAUERMAN, Cindy    NM  00:09:21.000  00:05:23.000
 2         3rd                TURNER, RITA    OH  00:10:49.000  00:05:34.000
 3         4th             BUCHANAN, Karen    TX  00:09:09.000  00:05:56.000
 4         5th           MARTINEZ, Christy    TX  00:12:43.000  00:05:27.000
 5         6th             KRONE, Jennifer    TX  00:11:58.000  00:06:00.000
 6         7th               BRENNAN, Sara    TX  00:12:32.000  00:06:10.000
 7         8th            BENSON, Jennifer    NM  00:10:43.000  00:06:58.000
 8         9th              ZENG, Wenjiang    CA  00:10:33.000  00:07:22.000
 9        10th                PLUYM, Tammy    NM  00:12:08.000  00:07:08.000
 10       11th                GATES, Karen    OR  00:12:22.000  00:08:25.000
 11       12th            PIATT, Christine    TX  00:12:39.000  00:07:12.000
 12       13th                LOPEZ, Irene    TX  00:13:44.000  00:07:49.000
 13       14th             GOLDSMITH, Dara    NV  00:08:05.000  00:06:43.000
 14       15th             TUNKS, Jeanette    FL  00:21:22.000  00:10:20.000
 15       16th  CATTERTON-DOHERTY, Theresa    MD  00:19:46.000  00:10:13.000
 16          0            JOHNSON, Heather    IA             -             -
 17          0              SCHWAB, Connie    FL             -             -
 18          0               SPEARS, Lyndi    NM             -             -
 19          0             WILLIAMS, Linda    NV             -             -
 20          0                WILLS, Chris    TX             -             -

                B            T2             R          Time
 0   00:37:28.000  00:00:51.000  00:21:17.000  01:11:54.000
 1   00:40:28.000  00:01:02.000  00:25:29.000  01:21:43.000
 2   00:43:37.000  00:00:55.000  00:26:26.000  01:27:21.000
 3   00:44:42.000  00:00:50.000  00:27:33.000  01:28:10.000
 4   00:50:18.000  00:01:18.000  00:25:33.000  01:35:19.000
 5   00:46:29.000  00:01:09.000  00:31:47.000  01:37:23.000
 6   00:50:03.000  00:02:07.000  00:32:33.000  01:43:25.000
 7   00:50:17.000  00:02:11.000  00:35:06.000  01:45:15.000
 8   00:51:19.000  00:02:37.000  00:34:40.000  01:46:31.000
 9   00:51:48.000  00:01:36.000  00:34:41.000  01:47:21.000
 10  00:55:16.000  00:01:34.000  00:34:20.000  01:51:57.000
 11  00:50:58.000  00:01:52.000  00:39:28.000  01:52:09.000
 12  00:57:11.000  00:01:56.000  00:45:24.000  02:06:04.000
 13  01:12:47.000  00:02:37.000  00:37:24.000  02:07:36.000
 14  00:59:57.000  00:02:43.000  00:35:27.000  02:09:49.000
 15  01:02:52.000  00:02:21.000  00:47:51.000  02:23:03.000
 16             -             -             -             -
 17             -             -             -             -
 18             -             -             -             -
 19             -             -             -             -
 20             -             -             -             -  ,
    Unnamed: 0                Name State             S            T1  \
 0         1st     GLEASON, Sandra    TX  00:10:06.000  00:05:12.000
 1         2nd         NIEL, Laura    NM  00:09:20.000  00:04:29.000
 2         3rd           LAW, Nina    CA  00:10:28.000  00:05:46.000
 3         4th      YOUNG, REBECCA    GA  00:11:10.000  00:06:07.000
 4         5th       ANKLAM, Lynne    TX  00:09:22.000  00:06:30.000
 5         6th  SCHINKEL, De Shann    TX  00:08:21.000  00:05:38.000
 6         7th        PRIOR, Diane    IN  00:10:12.000  00:05:21.000
 7         8th       BROWN, Denise    ID  00:10:30.000  00:06:29.000
 8         9th    MARCO, Catherine    OH  00:10:46.000  00:06:26.000
 9        10th      COLLINS, Janet    TN  00:12:22.000  00:06:05.000
 10       11th        DAVIS, Cheri    NM  00:11:02.000  00:08:42.000
 11       12th             LI, yun    NM  00:12:07.000  00:07:03.000
 12       13th        FONS, Sharon    CO  00:12:37.000  00:09:11.000
 13       14th      SISSONS, Karen    OK  00:09:03.000  00:07:50.000
 14       15th       TAYLOR, Debra    NM  00:12:01.000  00:08:06.000
 15       16th       PRIEST, Gayle    IN  00:11:53.000  00:09:05.000
 16        NaN       CHOKEL, Naira    NH  00:11:02.000             -

                B            T2             R          Time
 0   00:39:21.000  00:01:11.000  00:22:17.000  01:18:07.000
 1   00:39:35.000  00:01:09.000  00:23:41.000  01:18:14.000

In [19]:
len(tables[0])

8

In [20]:
tables[0][0]

KeyError: 0

In [21]:
df = pd.DataFrame()
for index,row in link_data.iterrows(): 
    try:
        table = pd.read_html(row.link)
        temp = table[0]
        temp['gender'] = row.gender
        temp['age'] = row.age
        df = df.append(temp)
    except Exception as e: 
        print(e)

In [22]:
df.head()

,Unnamed: 0,Name,State,S,T1,B,T2,R,Time,gender,age
0,1st,"REMBAC, Ross",AZ,00:06:29.000,00:04:58.000,00:35:22.000,00:00:47.000,00:23:43.000,01:11:19.000,Male,50-54
1,2nd,"GALLARDO, Paul",NM,00:08:07.000,00:03:44.000,00:38:18.000,00:01:09.000,00:20:24.000,01:11:42.000,Male,50-54
2,3rd,"KASSA, JOE",NM,00:09:39.000,00:04:28.000,00:38:55.000,00:00:52.000,00:24:36.000,01:18:30.000,Male,50-54
3,4th,"HOBBS, Bob",KY,00:11:35.000,00:04:06.000,00:39:53.000,00:00:46.000,00:24:30.000,01:20:50.000,Male,50-54
4,5th,"WYATT, James",TX,00:07:23.000,00:05:32.000,00:42:55.000,00:01:21.000,00:27:36.000,01:24:47.000,Male,50-54

In [23]:
df.sort_values(by = "Time")

,Unnamed: 0,Name,State,S,T1,B,T2,R,Time,gender,age
20,0,"WILLS, Chris",TX,-,-,-,-,-,-,Female,50-54
9,0,"BICH, Howard",SD,-,-,-,-,-,-,Male,75-79
8,0,"BALTHROP, Edward",AL,-,-,-,-,-,-,Male,75-79
32,0,"ASHLEY, Matthew",MO,-,-,-,-,-,-,Male,55-59
33,0,"BRADLEY, Tim",NY,-,-,-,-,-,-,Male,55-59
...,...,...,...,...,...,...,...,...,...,...,...
12,NaN,"MIKA, DARRYL",OH,00:03:44.000,-,-,-,-,DNF,Male,65-69
1,NaN,"THOMPSON, Brad",TX,00:20:33.000,00:12:16.000,-,-,-,DNF,Male,85-89
16,NaN,"CHOKEL, Naira",NH,00:11:02.000,-,-,-,-,DNF,Female,55-59
19,NaN,"TITTLE, Kathleen",FL,00:10:41.000,00:09:24.000,00:09:09.000,-,-,DNF,Female,65-69
12,NaN,"SHIELY, Albert",NH,00:16:03.000,00:09:14.000,01:08:46.000,-,-,DNF,Male,70-74

In [24]:
df.Time.value_counts()

-               17
DNF              6
01:35:10.000     2
02:26:03.000     2
01:33:43.000     2
                ..
01:33:52.000     1
01:15:18.000     1
01:40:09.000     1
01:42:41.000     1
01:36:26.000     1
Name: Time, Length: 194, dtype: int64

In [28]:
df.dropna

<bound method DataFrame.dropna of    Unnamed: 0              Name State             S            T1  \
0         1st      REMBAC, Ross    AZ  00:06:29.000  00:04:58.000
1         2nd    GALLARDO, Paul    NM  00:08:07.000  00:03:44.000
2         3rd        KASSA, JOE    NM  00:09:39.000  00:04:28.000
3         4th        HOBBS, Bob    KY  00:11:35.000  00:04:06.000
4         5th      WYATT, James    TX  00:07:23.000  00:05:32.000
..        ...               ...   ...           ...           ...
3         3rd    FOUTS, Raechel    CO  00:15:13.000  00:08:38.000
4         5th  SCHNEIDER, Alice    OH  00:21:56.000  00:08:07.000
5         6th      PLEIN, Linda    NM  00:14:04.000  00:14:41.000
6         7th   LILLEHEI, Patsy    MN  00:23:24.000  00:12:53.000
0         1st     EASTON, Luise    OH  00:11:46.000  00:11:05.000

               B            T2             R          Time  gender    age
0   00:35:22.000  00:00:47.000  00:23:43.000  01:11:19.000    Male  50-54
1   00:38:18.000  00:01:09.000  00:20:24.000  01:11:42.000    Male  50-54
2   00:38:55.000  00:00:52.000  00:24:36.000  01:18:30.000    Male  50-54
3   00:39:53.000  00:00:46.000  00:24:30.000  01:20:50.000    Male  50-54
4   00:42:55.000  00:01:21.000  00:27:36.000  01:24:47.000    Male  50-54
..           ...           ...           ...           ...     ...    ...
3   01:14:24.000  00:01:34.000  00:46:14.000  02:26:03.000  Female  75-79
4   01:14:17.000  00:02:08.000  00:41:50.000  02:28:18.000  Female  75-79
5   01:13:19.000  00:04:08.000  00:59:22.000  02:45:34.000  Female  75-79
6   01:14:08.000  00:01:51.000  01:02:25.000  02:54:41.000  Female  75-79
0   01:15:30.000  00:02:16.000  00:50:03.000  02:30:40.000  Female  80-84

[219 rows x 11 columns]>

In [161]:
df

,index,Rank,State,S,T1,B,T2,R,Time,gender,age,First,Last
0,0,True,CA,00:07:36.000,00:04:35.000,00:36:24.000,00:00:45.000,00:19:49.000,01:09:09.000,Male,60-64,Dave,CAMPBELL
1,0,True,CA,00:07:56.000,00:03:41.000,00:34:49.000,00:01:25.000,00:22:40.000,01:10:31.000,Male,55-59,Derrill,STEPP
2,0,True,AZ,00:06:29.000,00:04:58.000,00:35:22.000,00:00:47.000,00:23:43.000,01:11:19.000,Male,50-54,Ross,REMBAC
3,0,True,NV,00:08:03.000,00:04:15.000,00:37:28.000,00:00:51.000,00:21:17.000,01:11:54.000,Female,50-54,Vanessa,COOK
4,2,True,NM,00:08:38.000,00:03:42.000,00:35:49.000,00:00:50.000,00:23:31.000,01:12:30.000,Male,55-59,Louis,SALAZAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0,True,VA,00:16:47.000,00:12:44.000,01:16:06.000,00:03:22.000,00:52:57.000,02:41:56.000,Male,85-89,ERNEST,SCHILLINGER
102,14,True,OH,00:16:45.000,00:12:06.000,01:24:17.000,00:03:30.000,00:46:40.000,02:43:18.000,Female,70-74,Kathleen,TILLER
103,5,True,NM,00:14:04.000,00:14:41.000,01:13:19.000,00:04:08.000,00:59:22.000,02:45:34.000,Female,75-79,Linda,PLEIN
104,24,True,IL,00:15:19.000,00:12:28.000,01:18:12.000,00:03:33.000,01:01:37.000,02:51:09.000,Female,60-64,Patricia,STOLTENBERG
105,6,True,MN,00:23:24.000,00:12:53.000,01:14:08.000,00:01:51.000,01:02:25.000,02:54:41.000,Female,75-79,Patsy,LILLEHEI

In [70]:
df[['Last','First']]= df.Name.str.split(",", expand= True)

In [98]:
df = df.drop(columns = ['Name'])

In [99]:
df.sort_values(by= ['Time'])

,Unnamed: 0,Rank,State,S,T1,B,T2,R,Time,gender,age,First,Last
20,0,True,TX,-,-,-,-,-,-,Female,50-54,Chris,WILLS
11,0,True,CT,-,-,-,-,-,-,Male,75-79,ROBERT,LOHMANN
18,0,True,NM,-,-,-,-,-,-,Female,50-54,Lyndi,SPEARS
11,0,True,TN,-,-,-,-,-,-,Male,65-69,Norman,COLE
36,0,True,MD,-,-,-,-,-,-,Male,55-59,David,STINSON
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,NaN,True,OH,00:03:44.000,-,-,-,-,DNF,Male,65-69,DARRYL,MIKA
1,NaN,True,TX,00:20:33.000,00:12:16.000,-,-,-,DNF,Male,85-89,Brad,THOMPSON
16,NaN,True,NH,00:11:02.000,-,-,-,-,DNF,Female,55-59,Naira,CHOKEL
19,NaN,True,FL,00:10:41.000,00:09:24.000,00:09:09.000,-,-,DNF,Female,65-69,Kathleen,TITTLE
12,NaN,True,NH,00:16:03.000,00:09:14.000,01:08:46.000,-,-,DNF,Male,70-74,Albert,SHIELY

In [125]:
mask = df.Time == "DNF"
mask

20    False
9     False
8     False
32    False
33    False
      ...
12     True
1      True
16     True
19     True
12     True
Name: Time, Length: 219, dtype: bool

In [116]:
dnf = df.loc[mask]

In [128]:
df = df.drop(df[mask].index)

In [129]:
mask1 = df.Time == "-"
mask1

20     True
9      True
8      True
32     True
33     True
      ...
17    False
24    False
6     False
18    False
11    False
Name: Time, Length: 176, dtype: bool

In [132]:
df = df.drop(df[mask1].index)

In [147]:
df = df.sort_values(by= ['Time'])
df

,Rank,State,S,T1,B,T2,R,Time,gender,age,First,Last
0,True,CA,00:07:36.000,00:04:35.000,00:36:24.000,00:00:45.000,00:19:49.000,01:09:09.000,Male,60-64,Dave,CAMPBELL
0,True,CA,00:07:56.000,00:03:41.000,00:34:49.000,00:01:25.000,00:22:40.000,01:10:31.000,Male,55-59,Derrill,STEPP
0,True,AZ,00:06:29.000,00:04:58.000,00:35:22.000,00:00:47.000,00:23:43.000,01:11:19.000,Male,50-54,Ross,REMBAC
0,True,NV,00:08:03.000,00:04:15.000,00:37:28.000,00:00:51.000,00:21:17.000,01:11:54.000,Female,50-54,Vanessa,COOK
2,True,NM,00:08:38.000,00:03:42.000,00:35:49.000,00:00:50.000,00:23:31.000,01:12:30.000,Male,55-59,Louis,SALAZAR
...,...,...,...,...,...,...,...,...,...,...,...,...
0,True,VA,00:16:47.000,00:12:44.000,01:16:06.000,00:03:22.000,00:52:57.000,02:41:56.000,Male,85-89,ERNEST,SCHILLINGER
14,True,OH,00:16:45.000,00:12:06.000,01:24:17.000,00:03:30.000,00:46:40.000,02:43:18.000,Female,70-74,Kathleen,TILLER
5,True,NM,00:14:04.000,00:14:41.000,01:13:19.000,00:04:08.000,00:59:22.000,02:45:34.000,Female,75-79,Linda,PLEIN
24,True,IL,00:15:19.000,00:12:28.000,01:18:12.000,00:03:33.000,01:01:37.000,02:51:09.000,Female,60-64,Patricia,STOLTENBERG
6,True,MN,00:23:24.000,00:12:53.000,01:14:08.000,00:01:51.000,01:02:25.000,02:54:41.000,Female,75-79,Patsy,LILLEHEI

In [158]:
df= df.reset_index()

In [159]:
df['Time'].rank()

0        1.0
1        2.0
2        3.0
3        4.0
4        5.0
       ...
101    102.0
102    103.0
103    104.0
104    105.0
105    106.0
Name: Time, Length: 106, dtype: float64

In [160]:
df

,index,Rank,State,S,T1,B,T2,R,Time,gender,age,First,Last
0,0,True,CA,00:07:36.000,00:04:35.000,00:36:24.000,00:00:45.000,00:19:49.000,01:09:09.000,Male,60-64,Dave,CAMPBELL
1,0,True,CA,00:07:56.000,00:03:41.000,00:34:49.000,00:01:25.000,00:22:40.000,01:10:31.000,Male,55-59,Derrill,STEPP
2,0,True,AZ,00:06:29.000,00:04:58.000,00:35:22.000,00:00:47.000,00:23:43.000,01:11:19.000,Male,50-54,Ross,REMBAC
3,0,True,NV,00:08:03.000,00:04:15.000,00:37:28.000,00:00:51.000,00:21:17.000,01:11:54.000,Female,50-54,Vanessa,COOK
4,2,True,NM,00:08:38.000,00:03:42.000,00:35:49.000,00:00:50.000,00:23:31.000,01:12:30.000,Male,55-59,Louis,SALAZAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0,True,VA,00:16:47.000,00:12:44.000,01:16:06.000,00:03:22.000,00:52:57.000,02:41:56.000,Male,85-89,ERNEST,SCHILLINGER
102,14,True,OH,00:16:45.000,00:12:06.000,01:24:17.000,00:03:30.000,00:46:40.000,02:43:18.000,Female,70-74,Kathleen,TILLER
103,5,True,NM,00:14:04.000,00:14:41.000,01:13:19.000,00:04:08.000,00:59:22.000,02:45:34.000,Female,75-79,Linda,PLEIN
104,24,True,IL,00:15:19.000,00:12:28.000,01:18:12.000,00:03:33.000,01:01:37.000,02:51:09.000,Female,60-64,Patricia,STOLTENBERG
105,6,True,MN,00:23:24.000,00:12:53.000,01:14:08.000,00:01:51.000,01:02:25.000,02:54:41.000,Female,75-79,Patsy,LILLEHEI